In [2]:
from DbManager import DbManager
from ApiClient import ApiClient
import numpy as np
import pandas as pd
from  datetime import date, timedelta

In [9]:
db = DbManager("root", "bandtec123", "localhost", "processamento_db")
api = ApiClient("http://localhost")

data_frame = db.read("SELECT * FROM eventos").astype({
        'categoria':'category',
        'sexo' : 'category',
        'dataNascimento':'datetime64[ns]'
        })
data_frame['categoria'] = data_frame['categoria'].cat.codes
data_frame['sexo'] = data_frame['sexo'].cat.codes
data_frame['idade'] = date.today().year - data_frame['dataNascimento'].dt.year - (
data_frame['dataNascimento'].apply( lambda x : (date.today().month, date.today().day) < (x.month, x.day)) )
quartis_idade = data_frame['idade'].quantile([0.25, 0.5, 0.75])
data_frame['faixa_etaria'] = np.where(
        data_frame['idade'].between(0, quartis_idade[0.25]), 'Primeira Faixa',
        np.where(data_frame['idade'].between(quartis_idade[0.25], quartis_idade[0.5]), 
        'Segunda Faixa',
        'Terceira Faixa')
    )

max_categoria_faixa = data_frame[data_frame['statusEvento'] == 1]\
        .groupby(['faixa_etaria', 'categoria'], as_index=False).agg(
            maxPreco = ('preco' , 'max'),
            quantidade = ('idEvento' , 'count')
            ).reset_index()

Conectado ao banco

In [10]:
max_categoria_faixa

    index    faixa_etaria  categoria  maxPreco  quantidade
0       0  Primeira Faixa          0   2579.35         160
1       1  Primeira Faixa          1   2757.93         160
2       2  Primeira Faixa          2   3029.21         174
3       3  Primeira Faixa          3   2755.14         162
4       4  Primeira Faixa          4   2832.96         145
5       5  Primeira Faixa          5   2538.59         137
6       6   Segunda Faixa          0   2712.74         140
7       7   Segunda Faixa          1   2682.73         137
8       8   Segunda Faixa          2   2726.17         143
9       9   Segunda Faixa          3   2765.59         149
10     10   Segunda Faixa          4   2779.49         122
11     11   Segunda Faixa          5   2709.38         155
12     12  Terceira Faixa          0   2926.11         288
13     13  Terceira Faixa          1   2677.52         240
14     14  Terceira Faixa          2   2789.45         289
15     15  Terceira Faixa          3   3019.99         291
16     16  Terceira Faixa          4   2828.17         300
17     17  Terceira Faixa          5   2668.29         265

In [57]:
# soma_total = max_categoria_faixa\
#         .query('faixa_etaria == "Primeira Faixa" & categoria == 0')['maxPreco']

# condicional = ())\

# max_categoria_faixa['maxPreco'] == data_frame['preco']

# 'a' in ['a','b','c']
# soma_total[0]
# data_frame[condicional].sort_values('faixa_etaria')
# data_frame.merge(max_categoria_faixa, how='left', on='faixa_etaria')
# data_frame[condicional]
# data_frame[data_frame[['preco', 'faixa_etaria']].equals(max_categoria_faixa[['maxPreco', 'faixa_etaria']])]
data_frame.merge(max_categoria_faixa).query('maxPreco == preco').reset_index()
# max_categoria_faixa.shape

,level_0,idEvento,idConsumidor,dataNascimento,preco,nome,categoria,fkCupom,statusEvento,fkEcommerce,sexo,dataCompra,idade,faixa_etaria,index,maxPreco,quantidade
0,52,1249,1080,1985-03-22,2779.49,Lacoste,4,2,1,1,0,2018-09-24,36,Segunda Faixa,10,2779.49,122
1,263,1778,33,1983-01-15,2709.38,Lacoste,5,4,1,1,1,2019-01-08,38,Segunda Faixa,11,2709.38,155
2,553,3226,131,2007-03-16,2755.14,Nike,3,3,1,1,0,2020-11-21,14,Primeira Faixa,3,2755.14,162
3,728,1320,593,1953-11-02,2677.52,Versace,1,4,1,1,2,2020-01-24,67,Terceira Faixa,13,2677.52,240
4,1022,990,898,1983-11-23,2726.17,Lacoste,2,3,1,1,2,2018-11-10,37,Segunda Faixa,8,2726.17,143
5,1215,444,1223,1997-11-04,2538.59,Lacoste,5,4,1,1,2,2020-11-23,23,Primeira Faixa,5,2538.59,137
6,1478,1073,987,1956-04-28,2668.29,Nike,5,2,1,1,1,2020-02-29,65,Terceira Faixa,17,2668.29,265
7,1985,2412,350,1966-10-01,2828.17,Adidas,4,0,1,1,1,2020-03-07,54,Terceira Faixa,16,2828.17,300
8,2240,484,425,1990-02-19,2682.73,Versace,1,1,1,1,1,2019-03-04,31,Segunda Faixa,7,2682.73,137
9,2567,1852,161,1951-11-27,2926.11,Versace,0,4,1,1,1,2020-12-13,69,Terceira Faixa,12,2926.11,288
10,3194,4299,1019,1959-03-11,2789.45,Lacoste,2,2,1,1,1,2020-12-20,62,Terceira Faixa,14,2789.45,289
11,3287,986,653,1988-12-27,2712.74,Nike,0,4,1,1,1,2020-05-23,32,Segunda Faixa,6,2712.74,140
12,3542,2364,327,2005-04-29,2832.96,Oakley,4,2,1,1,1,2020-09-07,16,Primeira Faixa,4,2832.96,145
13,3830,3536,1034,1994-01-23,2757.93,Oakley,1,0,1,1,1,2018-10-24,27,Primeira Faixa,1,2757.93,160
14,3947,961,500,1983-06-06,2765.59,Lacoste,3,3,1,1,0,2018-10-28,37,Segunda Faixa,9,2765.59,149
15,4324,2336,884,1955-06-25,3019.99,Nike,3,4,1,1,0,2019-01-27,65,Terceira Faixa,15,3019.99,291
16,4713,3586,1048,2000-12-25,3029.21,Versace,2,3,1,1,1,2021-01-25,20,Primeira Faixa,2,3029.21,174
17,4955,4004,1201,2001-05-18,2579.35,Adidas,0,2,1,1,0,2021-05-17,20,Primeira Faixa,0,2579.35,160

In [57]:
cupons = pd.DataFrame()
cupons['valor'] = max_categoria_faixa['maxPreco'] / 100 # 1% do valor
cupons['usado'] = False
cupons['cupomEcommerce'] = False
cupons['nomeCupom'] = np.random.randint(1, 10, size = len(max_categoria_faixa))
cupons['nomeCupom'] = 'osiris'+cupons['nomeCupom'].astype(str)
# cupons['nomeCupom'] =  'osiris %d' %  cupons['nomeCupom']
cupons['dataEmitido'] = date.today()
cupons['dataValido'] = cupons['dataEmitido'] + timedelta(days = 30)
cupons['idConsumidor'] = data_frame.merge(max_categoria_faixa).query('maxPreco == preco').reset_index()['idConsumidor']
cupons

,valor,usado,cupomEcommerce,nomeCupom,dataEmitido,dataValido,idConsumidor
0,25.7935,False,False,osiris1,2021-05-29,2021-06-28,1080
1,27.5793,False,False,osiris7,2021-05-29,2021-06-28,33
2,30.2921,False,False,osiris2,2021-05-29,2021-06-28,131
3,27.5514,False,False,osiris1,2021-05-29,2021-06-28,593
4,28.3296,False,False,osiris4,2021-05-29,2021-06-28,898
5,25.3859,False,False,osiris4,2021-05-29,2021-06-28,1223
6,27.1274,False,False,osiris5,2021-05-29,2021-06-28,987
7,26.8273,False,False,osiris8,2021-05-29,2021-06-28,350
8,27.2617,False,False,osiris8,2021-05-29,2021-06-28,425
9,27.6559,False,False,osiris5,2021-05-29,2021-06-28,161
10,27.7949,False,False,osiris2,2021-05-29,2021-06-28,1019
11,27.0938,False,False,osiris4,2021-05-29,2021-06-28,653
12,29.2611,False,False,osiris1,2021-05-29,2021-06-28,327
13,26.7752,False,False,osiris2,2021-05-29,2021-06-28,1034
14,27.8945,False,False,osiris7,2021-05-29,2021-06-28,500
15,30.1999,False,False,osiris9,2021-05-29,2021-06-28,884
16,28.2817,False,False,osiris3,2021-05-29,2021-06-28,1048
17,26.6829,False,False,osiris8,2021-05-29,2021-06-28,1201